<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VUAFGROUP SAS - Gestion des stocks informatiques</title>
    <link rel="stylesheet" type="text/css" href="{%static "gestion/index.css" %}">
</head>
<body>
    <section class="titre">
        <h1 class="titre">VUAFGROUP SAS </h1>
        <h2 class="titre">Gestions des stocks informatiques</h2>
    </section>
<section>
    <a href='/gestion/ajout/ram/1'class="bouton">Ajouter une barrete de RAM</a>
    <a href='/gestion/ajout/cpu/1'class="bouton">Ajouter un CPU</a>
    <a href='/gestion/ajout/hdd/1'class="bouton">Ajouter un disque dur / ssd</a>
</section>
</section>
</body>
</html>