<html>
    <body>
        {% load static %}
        <meta charset="UTF-8">
        <title>VUAFGROUP SAS - Gestion des stocks informatiques</title>
        <link rel="stylesheet" type="text/css" href="{%static "gestion/index.css" %}">
    </body>
    <head>
        <section class="titre">
        <h1 class="titre">VUAFGROUP SAS </h1>
        <h2 class="titre">Gestions des stocks informatiques</h2>
        </section>
        <section class="bouton">
            <a href='./creer-groupe.html' class="bouton">Créer un nouveau groupe</a>
            <a href='../ajout'class="bouton">Ajout matériel</a>
            <a href='../show'class="bouton">Voir le matériel enregistrer</a>
        </section>
    </head>
</html>