<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VUAFGROUP SAS - Gestion des stocks informatiques</title>
    <link rel="stylesheet" type="text/css" href="{%static "gestion/index.css" %}">
</head>
<body>
    <section class="titre">
    <h1 class="titre">VUAFGROUP SAS </h1>
    <h2 class="titre">Gestions des stocks informatiques</h2>
    <h3 class="titre">Voir le stock HDD/SSD</h3>
    </section>
<section>
    {% for Hdd in gestion_hdd %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Type</th>
            <th>Espace</th>
            <th>Numéro de Série</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{Hdd.id}}</td>
            <td>{{Hdd.Marque}}</td>
            <td>{{Hdd.Modèle}}</td>
            <td>{{Hdd.Type}}</td>
            <td>{{Hdd.Espace}}</td>
            <td>{{Hdd.SN}}</td>
          </tr>

        </tbody>
        
      </table>
      <a href='hdd/update/{{Hdd.id}}'class='bouton'>Modifier</a>
      <a href='hdd/delete/{{Hdd.id}}'class='bouton'>Supprimer</a>
{% endfor %}     
<a href='/gestion/index'class="bouton">Retour à l'accueil</a>