<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VUAFGROUP SAS - Gestion des stocks informatiques</title>
    <link rel="stylesheet" type="text/css" href="{%static "gestion/index.css" %}">
</head>
<body>
    <section class="titre">
    <h1 class="titre">VUAFGROUP SAS </h1>
    <h2 class="titre">Gestions des stocks informatiques</h2>
    <h3 class="titre">Voir le stock</h3>
    </section>
<section>
    <a href='show/ram'class="bouton">Stock de RAM</a>