<html>
    <body>
        {% load static %}
        <meta charset="UTF-8">
        <title>{% block title %}VUAFGROUP SAS - Gestion des stocks informatiques{% endblock %} </title> <!-- Pour le Titre -->
        <link rel="stylesheet" type="text/css" href="{%static "gestion/index.css" %}">
    </body>
    <head>
        <section class="titre">
        <h1 class="titre">VUAFGROUP SAS </h1>
        <h2 class="titre">Gestions des stocks informatiques</h2>
        {% block content %}
        {% endblock %}
    </head>
</html>